<% layout('layouts/boilerplate')%>

    <h1>All Trails</h1>
    <div>
        <a href="/trails/new">Add New Trail</a>
    </div>
    <% for (let trail of trails){%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if (trail.images.length){%>

                        <img class="img-fluid" alt="" src="<%=trail.images[0].url%>">
                        <% } else {%>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dxng855av/image/upload/v1672854204/HikeMate/zwgjutmi5cugn5ockqzp.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= trail.title %>
                        </h5>
                        <p class="card-text">
                            <%= trail.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= trail.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/trails/<%=trail._id%>">View <%=trail.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>