<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" style="width: 18rem;">
                <img src="<%= trail.image %> " class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= trail.title %>
                    </h5>
                    <p class="card-text">
                        <%= trail.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= trail.location %>
                    </li>
                    <li class="list-group-item">$<%= trail.price %>
                    </li>

                </ul>
                <div class="card-body">
                    <a class='card-link btn btn-info' href="/trails/<%= trail._id %>/edit">Edit</a>
                    <form class='d-inline' action="/trails/<%= trail._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>